<!--Start-->

<!DOCTYPE html>
<html lang = "en-US">

<head>
<!--End-->
  <title>Home - Quantum</title>
<!--Start-->
  <meta charset = "utf-8">
  <meta name = "viewport" content = "width=device-width">
  <link href = "../../Global Ref/MainStyle.css" rel = "stylesheet" type = "text/css" />
  <link href = "References/MainStyle.css" rel = "stylesheet" type = "text/css" />
  <link href = "References/Icon.png" rel = "icon">
</head>

<!--End-->

<body style="background-color: rgb(224, 160, 244);">
  
<!--Start-->
  
  <div id="link" style="text-align: center; font-size: 1.5em; background: rgb(255, 128, 128); position: fixed; width: 25%; right: 1em; bottom: 1em; font-weight: bold;">
    Java Script does not seem to be linked. Most features and some content may be missing.
  </div>
  
  <script src="../../Global Ref/AreFilesLinked.js"></script>
  
  <script src="References/Main.js"></script>
  <script src="../../Global Ref/Main.js"></script>
  
<!--End-->
  
  <script src="../../Global Ref/Chapter.js"></script>
  
  <h1>Quantum Physics Explained</h1>
  
  <p>Welcome! This is HTML file containing information about quantum physics in a chaptered format. Compiled by me (KaliBasenji42), starting July 8th 2024. Here is my <a href="../../index.html">Home Page</a>.</p>
  
  <h2>Table of Contents:</h2>
  
  <script>TOCList();</script>
  
  <h2>Sources</h2>
  
  <ul>
    <li><a target = "_blank" href = "https://particleadventure.org/">The Particle Adventure</a></li>
    <li><a target = "_blank" href = "https://neutrinos.fnal.gov/">All Things Neutrinos</a></li>
  </ul>
  
</body>

<!--Start-->

</html>

