<!--Start-->

<!DOCTYPE html>
<html lang = "en-US">

<head>
<!--End-->
<!--Start-->
  <meta charset = "utf-8">
  <meta name = "viewport" content = "width=device-width">
  <link href = "../../../../staticfiles/Global Ref/MainStyle.css" rel = "stylesheet" type = "text/css" />
  <link href = "../../../../staticfiles/Misc/MainStyle.css" rel = "stylesheet" type = "text/css" />
  <link href = "../../../../staticfiles/Misc/Icon.png" rel = "icon">
</head>

<!--End-->

<body style="background-color: rgb(64, 192, 64);">
  
<!--Start-->
  
  <div id="link" style="text-align: center; font-size: 1.5em; background: rgb(255, 128, 128); position: fixed; width: 25%; right: 1em; bottom: 1em; font-weight: bold;">
    Java Script does not seem to be linked. Most features and some content may be missing.
  </div>
  
  <script src="../../../../staticfiles/Global Ref/AreFilesLinked.js"></script>
  
  <script src="../../../../staticfiles/Misc/Main.js"></script>
  <script src="../../../../staticfiles/Global Ref/Main.js"></script>
  
<!--End-->
  
  <script src="../../../../staticfiles/Global Ref/Chapter.js"></script>
  
  <script>createNavArrows();</script>
  
  <div class = "body">
    
  </div>
  
  <script src="../../../../staticfiles/Global Ref/WordCount.js"></script>
  
  <script>outputWC(document.querySelector(".body"), 0);</script>
  
  <script>createNavArrows();</script>
  
</body>

<!--Start-->

</html>

