/* Elements */

li {
  font-size: 1.25em;
}

img {
  image-rendering: auto;
}

/* Other */

#imgCont {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}

#imgCont > img {
  height: 10em;
  width: auto;
  flex-shrink: 0;
  object-fit: contain;
  margin: 1em;
}