/* Elems */

html {height: 100%; width: 100%;}

body {
  background-color: rgb(240, 240, 240);
  margin-left: 3em; margin-right: 1in;
  padding-bottom: 2em;
  font-family: "Times New Roman", Times;
}

p {padding-left: 1em; margin: 0;}

ul {margin: 0; padding-left: 3em}
li {}

table {border: 1px solid; border-collapse: collapse;}
th {border: 1px solid;}
td {border: 1px solid; padding-left: 0.5em; padding-right: 0.5em;}
tr {border: 1px solid;}

h1 {text-align: center; margin: auto;}
h2 {color: rgb(128, 32, 192); text-align: center;}
h3 {color: rgb(64, 64, 64);}
h4 {text-indent: 1em; font-size: 1em; font-style: normal; font-weight: normal;}

/* Classes */

.sect {
  position: relative;
  overflow: hidden;
  transition: max-height 0.5s;
  overflow-x: auto;
}
.sectBttn{
  width: 1.75em;
  height: 1.75em;
  text-align: center;
  line-height: 2em;
  border: none;
  background-color: rgb(224, 224, 255);
  font-size: 0.75em;
  cursor: pointer;
  border-radius: 0.5em;
}
.tool{
  border: none;
  background-color: rgb(192, 255, 192);
  cursor: pointer;
  border-radius: 0.25em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

/* IDs */

#SideBar {
  width: 25%;
  height: 75%;
  position: fixed;
  left: 75%;
  top: 2em;
  overflow: auto;
}

/* Media */

@media (max-width: 600px) {
  #SideBar {
    position: relative;
    left: 0%;
    width: 100%;
    top: 0%;
  }
  body {
    width: 100%;
  }
}
