/* Elements */

li {font-size: 18px;}

img {
  image-render: pixelated;
  image-render: -moz-crisp-edges;
  image-render: crisp-edges;
}

/* Chapter Type */

.main {
  background-image: linear-gradient(30deg, rgb(192, 255, 224), rgb(224, 255, 192));
  background-color: rgb(192, 255, 224); 
  border-radius: 1em; 
  padding: 1em; 
  margin: auto;
}

.terminal {
  color: rgb(64, 255, 64);
  font-family: consolas;
  background-color: rgb(32, 0, 64);
  padding: 1em;
}

.human {
  background-color: rgb(255, 224, 240);
  padding: 0.5em;
  border-radius: 0.1em;
}

/* Other */

.ODBox {
  position: relative;
  height: 400px;
  overflow-x: auto;
  overflow-y: hidden;
  background-color: rgb(64, 0, 64);
}

.ODBSign {
  position: absolute;
  height: 400px;
  line-height: 400px;
  font-size: 2em;
  padding-left: 1em;
  padding-right: 1em;
  z-index: 1;
}

.pass {
  text-align: center;
  margin: 1em;
  font-family: Consolas;
}
