/* Elements */

body {
  margin: auto;
  margin-top: 1em;
  width: 70%;
  background-color: rgb(224, 160, 244);
  background-image: linear-gradient(135deg, rgb(224, 192, 255), rgb(224, 128, 244)),
                    linear-gradient(90deg, rgb(224, 192, 255), rgb(224, 128, 244));
  background-position: 0vw 0vw, 100vw 50vw;
  background-size: 100vw 100vw, 200vw 100vw;
  background-repeat: no-repeat, repeat;
}

h1 {text-align: center;}

p {text-indent: 2em; font-size: 1.125em;}
a {font-size: 1.125em; color: rgb(0, 128, 0);}
a:hover {color: rgb(128, 196, 128);}
li {font-size: 1.125em;}

/* Navigation */

.navigation {text-align: center;}

.nav, .navArrow {
  background-color: rgb(128, 208, 128);
  color: rgb(0, 0, 0);
  padding: 0.25em;
  margin: 0.1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5em;
  cursor: pointer;
}

a.nav:hover, a.nav:active, a.navArrow:hover, a.navArrow:active {
  background-color: rgb(128, 192, 128);
}

.navArrow {
  font-family: Consolas;
  width: 1em;
  height: 1em;
  line-height: 1em;
}

div.navArrow {
  background-color: rgb(160, 192, 160);
  color: rgb(128, 128, 128);
  cursor: not-allowed;
}

.sectBttn {
  text-align: center;
  line-height: 2em;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1em;
  cursor: pointer;
}

.sect {
  position: relative;
  overflow: hidden;
  transition: max-height 1s;
}

/* Animated Button */

.imgButton {
  border: 0;
  padding: 0;
  height: 80px;
  cursor: grab;
}

/* Chapter Type */

.main {
  background-image: linear-gradient(30deg, rgb(192, 255, 224), rgb(224, 255, 192));
  background-color: rgb(192, 255, 224); 
  border-radius: 1em; 
  padding: 1em; 
  margin: auto;
}

.terminal {
  color: rgb(64, 255, 64);
  font-family: consolas;
  background-color: rgb(32, 0, 64);
  padding: 1em;
}

.human {
  background-color: rgb(255, 224, 240);
  padding: 0.5em;
  border-radius: 0.1em;
}

/* Load Animation */

@keyframes load {
  from {
    background-image: none;
    opacity: 0;
    background-color: rgb(224, 160, 244);
  }
  to {
    background-image: linear-gradient(135deg, rgb(224, 192, 255), rgb(224, 128, 244)), 
                      linear-gradient(90deg, rgb(224, 192, 255), rgb(224, 128, 244));
    opacity: 1;
    background-color: rgb(224, 160, 244);
  }
}

@keyframes unload {
  from {
    background-image: linear-gradient(135deg, rgb(224, 192, 255), rgb(224, 128, 244)), 
                      linear-gradient(90deg, rgb(224, 192, 255), rgb(224, 128, 244));
    opacity: 1;
    background-color: rgb(224, 160, 244);
  }
  to {
    background-image: none;
    opacity: 0;
    background-color: rgb(224, 160, 244);
  }
}

/* Other */

.ODBox {
  position: relative;
  height: 400px;
  overflow-x: auto;
  overflow-y: hidden;
  background-color: rgb(64, 0, 64);
}

.ODBSign {
  position: absolute;
  height: 400px;
  line-height: 400px;
  font-size: 2em;
  padding-left: 1em;
  padding-right: 1em;
  z-index: 1;
}

.pass {
  text-align: center;
  margin: 1em;
  font-family: Consolas;
}