<!--Start-->

<!DOCTYPE html>
<html lang = "en-US">

<head>
<!--End-->
<!--Start-->
  <meta charset = "utf-8">
  <meta name = "viewport" content = "width=device-width">
  <link href = "../../../static/global/mainStyle.css" rel = "stylesheet" type = "text/css" />
  <link href = "../../../static/fatalError/mainStyle.css" rel = "stylesheet" type = "text/css" />
  <link href = "../../../static/fatalError/icon.png" rel = "icon">
</head>

<!--End-->

<body style="background-color: rgb(224, 160, 244);">
  
<!--Start-->
  
  <div id="link" style="text-align: center; font-size: 1.5em; background: rgb(255, 128, 128); position: fixed; width: 25%; right: 1em; bottom: 1em; font-weight: bold;">
    Java Script does not seem to be linked. Most features and some content may be missing.
  </div>
  
  <script src="../../../static/global/areFilesLinked.js"></script>
  
  <script src="../../../static/fatalError/main.js"></script>
  <script src="../../../static/global/main.js"></script>
  
<!--End-->
  
  <script src="../../../static/global/chapter.js"></script>
  
  <script>createNavArrows();</script>
  
  <div class="main">
  
  <h2>Chapter 2 (Work in Progress)</h2>
  
  <p>
    I emerge from the realm of dreams to an incessant beeping. My blankets are holding me hostage. I reluctantly raise myself from my nest and silence the alarm. My bed still beckons to me, but I must attend to my occupation. I exit my room, heading to my kitchen to cook breakfast. Soon an aroma fills the air. The calls of woodland creatures make it through the walls of my cabin as I eat. The cabin is very isolated. After finishing my meal I grab my bag and escape my home.
  </p>
  <p>
    I start my commute on my bike, I don my helmet and take off. Crisp wind rushes past my ears and carries a buffet of smells to my nose. The forest is made of large pines reaching for the heavens, while many shrubs and colorful flowers dwell at the roots. The smell of pollen, plants and bark fills my nose. A more developed settlement races in around me. It is a quaint little town. After the trip I arrive at the train. I board the train with my bike at my side. The car, one of only a few, is rectangular. The front of the car has a place where I can sit with my bike beside me, the back is more tightly packed. Many others are aboard the train, I quietly observe the outside world while a few of them chat. A speaker announces the train’s departure. A jolt and then we launch off. The forest blurs by, I am quickly approaching my destination.
  </p>
  <div class="pass"><⫘• ⨀ •⫘></div>
  <p>
    The train’s brakes activate and we quickly decelerate. The speakers announce my location: Another small town hugged by forest. I depart and mount my bike. I wizz by the farm town. The farm land slowly transforms into forest. I find myself racing a river winding with the road.
  </p>
  <p>
    A few moments later I stand next to the nuclear power plant’s control building. The reactor cores loom behind, and the cooling towers behind them, the morning sun hiding much of their faces. I greet the guard and display my ID. I secure up my bike at a bike rack in front of the building. I check in, it is imperative that there is always a crew at the facility. After I enter the building I check on the main display board. It shows what crew is doing what when and the procedures we are doing. I was lucky to get a crew I got along with. I got here early so I head to the on-site lounge. Upon entry to the room I am greeted by Cressida "Hey Umbriel, how was the ride here?"
  </p>
  <p>
    "Great, the weather is really nice and the town bakery smells of new recipes."
  </p>
  <p>
    "Oh, I am going to have to go there for lunch. Did you hear of the new nuclear enrichment plant?"
  </p>
  <p>
    "The one on the North Parvus island, yeah. Doesn't it have a lot of centrifuges for just fuel?"
  </p>
  <p>
    "Yeah..."
  </p>
  <p>
    Before Cressida could finish Puck enters the room. He cracks a joke and we talk for a while.
  </p>
  <div class="pass"><⫘• ⨀ •⫘></div>
  <p>
    A chime emitts itself from a nearby clock, interrupting our conversation. It indicates the top of the hour and thus a shift change. There is always at least two, ussally three, crews in the control room. Each crew consisting of about three people. Today we are just ensuring the plant is effectively outputting power. I go to my station in the control room, exchanging it leaving crew member. The station monitors the amount of radiation in different parts of the plant, and mostily focusses on the core. Cressida minored in mechanics and as such monitors the pumps, mostily for the steam loops. Puck ensures that the electrical is functional and that the power is good for the grid. 
  </p>
  
  </div>
  
  <script src="../../../static/global/chapter.js"></script>
  
  <script>outputWC(document.querySelector(".main"), -2);</script>
  
  <script>createNavArrows();</script>

  </body>

  <!-- Nothing here, yet -->

<!--Start-->

</html>

