<!--Start-->

<!DOCTYPE html>
<html lang = "en-US">

<head>
<!--End-->
<!--Start-->
  <meta charset = "utf-8">
  <meta name = "viewport" content = "width=device-width">
  <link href = "../../../static/global/mainStyle.css" rel = "stylesheet" type = "text/css" />
  <link href = "../../../static/temp/mainStyle.css" rel = "stylesheet" type = "text/css" />
  <link href = "../../../static/temp/icon.png" rel = "icon">
</head>

<!--End-->

<body style="background-color: rgb(224, 160, 244);">
  
<!--Start-->
  
  <div id="link" style="text-align: center; font-size: 1.5em; background: rgb(255, 128, 128); position: fixed; width: 25%; right: 1em; bottom: 1em; font-weight: bold;">
    Java Script does not seem to be linked. Most features and some content may be missing.
  </div>
  
  <script src="../../../static/global/areFilesLinked.js"></script>
  
  <script src="../../../static/temp/main.js"></script>
  <script src="../../../static/global/main.js"></script>
  
<!--End-->
  
  <script src="../../../static/global/chapter.js"></script>
  
  <script>createNavArrows();</script>
  
  <h1>First Time Using Computers</h1>
  
  <p>
    My family still has a computer from many years ago (it has an i3 core and the disk has been having problems, but it still works). This is the same computer I learned how to use. I remember often running a 3D object editor which I used to make many objects. I would often run task manager and resource monitor, as well, as I tried to understand how a computer works. These experiences lead me to how I express my creativity.
  </p>
  
  <p>
    Screenshot of 3D objects I made on old PC:
  </p>
  
  <img title="3D Objects" src="../../../static/temp/images/3DObjects.png">
  
</body>

<!--Start-->

</html>

<!--End-->

<!--Hello!-->