<!--Start-->

<!DOCTYPE html>
<html lang = "en-US">

<head>
<!--End-->
<!--Start-->
  <meta charset = "utf-8">
  <meta name = "viewport" content = "width=device-width">
  <link href = "../../../static/global/mainStyle.css" rel = "stylesheet" type = "text/css" />
  <link href = "../../../static/temp/mainStyle.css" rel = "stylesheet" type = "text/css" />
  <link href = "../../../static/temp/icon.png" rel = "icon">
</head>

<!--End-->

<body style="background-color: rgb(224, 160, 244);">
  
<!--Start-->
  
  <div id="link" style="text-align: center; font-size: 1.5em; background: rgb(255, 128, 128); position: fixed; width: 25%; right: 1em; bottom: 1em; font-weight: bold;">
    Java Script does not seem to be linked. Most features and some content may be missing.
  </div>
  
  <script src="../../../static/global/areFilesLinked.js"></script>
  
  <script src="../../../static/temp/main.js"></script>
  <script src="../../../static/global/main.js"></script>
  
<!--End-->
  
  <script src="../../../static/global/chapter.js"></script>
  
  <script>createNavArrows();</script>
  
  <h1>Learning of Nuclear/Quantum</h1>
  
  <p>
    While on the computer I learned of the internet and youtube. And on youtube I enjoyed educational videos. This led to me finding educational channels early on. One such channel being Kurzgesagt (They originate in German, but I found their English channel). Kurzgesagt and similar channels would explain topics in astronomy, nuclear, and later quantum. I was fascinated by these topics and would always try to learn more.
  </p>
  
  <p>
    <a href="https://www.desmos.com/calculator/eltgvi0xhe" target="_blank">
      Desmos graph of Black Hole art
    </a>
    (Kurzgesagt has many videos on black holes)
  </p>
  
</body>

<!--Start-->

</html>

<!--End-->

<!--Hello!-->